<br>
<input checklist-model="ptaMembershipCosts[0].contribution.form_fields.field.field_value" checklist-value="{{field.field_title+field.field_value}}" id="{{field.field_id}}" type="checkbox"  ng-required="field.field_required" ng-disabled="field.field_disabled"/>
<label class="form-field-label" for="{{field.field_id}}" ng-cloak>{{field.field_title}} {{field.field_value | currency}}</label>
<span class="required-error" ng-show="field.field_required && field.field_value == 0">(* required)</span>

