
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Register your PTA Bank Account and Admin(s)
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a ui-sref="/">Home</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Bank Account and Admin User information
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">

        <form name="schoolAdminBankForm" id="schoolAdminBankForm" role="form" novalidate>
            <div>
                <label>Name on Account</label> <input placeholder="Jane Doe" type="text" ng-model="adminAcct.bankAcctNickname" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label>Routing Number</label> <input class="form-control" placeholder="322271267" type="text" ng-model="adminAcct.bankRouting" name="ptaRouting">
            </div>

            <div class="form-group">
                <label>Account Number</label><br/>
                <input placeholder="9900000000" type="text" ng-model="adminAcct.bankAcct">
            </div>
            <div>
                <label>Account Type</label><br/>
                    <input type="radio" ng-model="adminAcct.bankAcctType" value="checking"> Checking
                    <input type="radio" ng-model="adminAcct.bankAcctType" value="saving"> Saving <br/>
            </div>

            <h3>Add Administrators</h3>
            <form id="ptaAddAdminForm" name="ptaAddAdminForm" partialChldrenShow" role="form" novalidate>
                <ul class="">
                    <div class="col-md-4"><label>Last Name</label><input type="text" value="fistName" ng-model="adminFirst" placeholder="Enter first name"></div>
                    <div class="col-md-4"><label>Last Name</label><input type="text" value="lastName" ng-model="adminLast" placeholder="Last name"></div>
                    <div class="col-md-4"><label>Userame</label><input type="text"  value="username" ng-model="adminUserName" placeholder="Email address"></div>
                    <div class="col-md-5">
                        <li ng-repeat="item in admin.data" id="item{{item.id}}">
                            {{item.fistName}}  {{item.lastName}}  <a ng-click="deleteItem($index)" class="delete-item">x</a>
                        </li>
                    </div>
                    <div class="col-md-5 pull-right"><button style="margin-top: 10px;" ng-click="addItem()">Add School Admin</button></div>
                </ul>
            </form>
            <div class="col-md-12 pull-right"><button style="margin-top:30px;" ng-click="schoolAdminRegisterBank(adminAcct, schoolAdminBankForm)" type="button"  class="btn btn-default pull-right">Continue</button></div>

            <div class="row">
                <div id="response" class="col-lg-12" style="display: none;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Response</h3>
                        </div>
                        <div class="panel-body">
                            <pre></pre>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
