<div data-ng-controller="PTARegistrationCtrl"></div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Select your Membership and contribute
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a ui-sref="/">Home</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> {{ptaMembershipCosts.ptaName}} Registration
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-6">
        Please select your organization's registration and if any available, your contributions.

        <H3>{{ptaMembershipCosts.schoolName}}</H3>
        <H3>Membership</H3>

        <form name="ptaMembershipForm" id="ptaMembershipForm" role="form" novalidate>
            <div><input type="radio" name="membership" data-ng-model="ptaMembershipCosts.selectedInd" selected>Individual {{ptaMembershipCosts.Individual}} {{ptaMembershipCosts.IndividualCost | currency}} </div>
            <div><input type="radio" name="membership" data-ng-model="ptaMembershipCosts.selectedFam">Family {{ptaMembershipCosts.Family}} {{ptaMembershipCosts.FamilyCost | currency}} </div>
            <div><input type="radio" name="membership" data-ng-model="ptaMembershipCosts.selectedFac">Faculty {{ptaMembershipCosts.Faculty}} {{ptaMembershipCosts.FacultyCost | currency}} </div>
            <div><input type="radio" name="membership" data-ng-model="ptaMembershipCosts.selectedBus">Business {{ptaMembershipCosts.Business}} {{ptaMembershipCosts.BusinessCost | currency}} </div>

            <div data-ng-repeat="field in ptaMembershipCosts.membership">
                <input name="membership" data-ng-model="ptaMembershipCosts.selectedMembership"
                        type="radio"
                        value="{{field.field_id}}" />
                {{field.field_title}} {{field.field_cost | currency}}

            </div>
            <br>
            <H3>Costs</H3>
            <div ng-repeat="field in ptaMembershipCosts.contribution">
                <input name="{{field.field_cost}}" data-ng-model="ptaMembershipCosts.selectedContribution[$index]"
                       type="{{field.field_type}}"
                        ng-true-value="{{field.field_id}}"
                        ng-false-value=""
                       value="{{field.field_id}}"/>
                 {{field.field_title}} {{field.field_cost | currency}}
            </div>
            <div ng-repeat="field in ptaMembershipCosts.textContribution">
                <label> {{field.field_title}}
                <input name="{{field.field_cost}}" data-ng-model="ptaMembershipCosts.selectedTextContribution[$index]" placeholder="Enter a value"
                       type="{{field.field_type}}"
                       ng-true-value="{{field.field_id}}+'-'"
                       ng-false-value=""
                       style="width: 100px"
                       value=""/>
                </label>
            </div>
            <br>
            <button ng-click="ptaSelectedCosts(ptaMembershipCosts, ptaMembershipForm)" type="button" class="btn btn-default">Proceed to Checkout</button>
        </form>
    </div>
</div>
<!-- /.row -->