

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            PTA Registration
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a ui-sref="/">Home</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i>Review
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<h3>Registration Summary</h3>

<div> Selection  {{reviewChoice.display}}</div>
<div> Cost  {{reviewChoice.mCost | currency}}</div>
<div> Total Cost  {{reviewChoice.tCost | currency}}</div>

<button ng-click="ptaSelectedCosts(ptaMembershipCheckout, ptaMembershipForm)" type="button" class="btn btn-default">Checkout</button>
