<div data-ng-controller="PTARegistrationCtrl"></div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Select your Membership and contribute
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a ui-sref="/">Home</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> {{ptaMembershipCosts.ptaName}} Registration
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-8">
        Please select your organization's registration and if any available, your contributions.

        <H3>{{ptaMembershipCosts.schoolName}}</H3>
        <H3>Membership</H3>

        <form name="ptaMembershipForm" id="ptaMembershipForm" role="form" novalidate>
            <div ng-show="ptaMembershipCosts.individual">
                <div class="form-group"><input type="radio"  ng-change="changePartial()" value="individual" name="membership"  data-ng-model="ptaMembershipCosts.selectedMembership">Individual {{ptaMembershipCosts.individualCost | currency}} </div>
            </div>
            <div ng-show="ptaMembershipCosts.family">
                <div class="form-group"><input type="radio" ng-change="changePartial()" value="family" name="membership" data-ng-model="ptaMembershipCosts.selectedMembership">Family {{ptaMembershipCosts.familyCost | currency}} </div>
            </div>
            <div ng-show="ptaMembershipCosts.faculty">
                <div class="form-group"><input type="radio"  ng-change="changePartial()" value="faculty" name="membership" data-ng-model="ptaMembershipCosts.selectedMembership">Faculty  {{ptaMembershipCosts.facultyCost | currency}} </div>
            </div>
            <div ng-show="ptaMembershipCosts.business">
                <div class="form-group"><input type="radio" ng-change="changePartial()" value="business" name="membership" data-ng-model="ptaMembershipCosts.selectedMembership">Business {{ptaMembershipCosts.businessCost | currency}} </div>
            </div>

            <div data-ng-repeat="field in ptaMembershipCosts.membership">
                <input type="radio" ng-model="ptaMembershipCosts.selectedMembership" ng-change="changePartial()" name="membership" value="{{field.field_title}}" />{{field.field_title}} {{field.field_cost | currency}}
            </div>

            <div id="ptaIndMembershipform" class="col-md-12" ng-show="partialIndShow">
                <div class="form-group required">
                    <label>First Name</label>
                    <input class="form-control" placeholder="First name" type="text" ng-model="ptaAcctObj.firstName" name="firstName">
                </div>
                <div class="form-group required">
                    <label>Last Name</label>
                    <input class="form-control" placeholder="last name" type="text" ng-model="ptaAcctObj.lastName" name="lastName">
                </div>
                <div class="form-group required">
                    <label>Email Address</label>
                    <input class="form-control" placeholder="Email address" type="text" ng-model="ptaAcctObj.userName" name="userName">
                </div>
            </div>

            <div id="ptaBusMembershipform" class="col-md-12" ng-show="partialBusShow">
                <div class="form-group required">
                    <label>Business Name</label>
                    <input class="form-control" placeholder="First name" type="text" ng-model="ptaAcctObj.firstName" name="firstName">
                </div>
                <div class="form-group required">
                    <label>Contact</label>
                    <input class="form-control" placeholder="last name" type="text" ng-model="ptaAcctObj.lastName" name="lastName">
                </div>
                <div class="form-group required">
                    <label>Email Address</label>
                    <input class="form-control" placeholder="Email address" type="text" ng-model="ptaAcctObj.userName" name="userName">
                </div>
            </div>

            <div id="ptaMultipleMembershipform" ng-show="partialMultiShow">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label>First Name</label>
                            <input class="form-control" placeholder="First name" type="text" ng-model="ptaAcctObj.firstName" name="firstName">
                        </div>
                        <div class="form-group required">
                            <label>Last Name</label>
                            <input class="form-control" placeholder="last name" type="text" ng-model="ptaAcctObj.lastName" name="lastName">
                        </div>
                        <div class="form-group required">
                            <label>Email Address</label>
                            <input class="form-control" placeholder="Email address" type="text" ng-model="ptaAcctObj.userName" name="userName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group required">
                            <label>First Name</label>
                            <input class="form-control" placeholder="First name" type="text" ng-model="ptaSecondaryAcct.firstName" name="firstName">
                        </div>
                        <div class="form-group required">
                            <label>Last Name</label>
                            <input class="form-control" placeholder="last name" type="text" ng-model="ptaSecondaryAcct.lastName" name="lastName">
                        </div>
                        <div class="form-group required">
                            <label>Email Address</label>
                            <input class="form-control" placeholder="Email address" type="text" ng-model="ptaSecondaryAcct.userName" name="userName">
                        </div>
                    </div>
                </div>
            </div>
        </form>
            <form id="ptaAddStudentForm" name="ptaAddStudentForm" ng-show="partialChldrenShow" role="form" novalidate>
                <div class="form-group">
                    <div class="col-md-4 nopad">
                        <label class="sr-only" for="ItemName">Item Name</label>
                        <input class="form-control" type="text" value="ItemName" id="ItemName" ng-model="newItemName" placeholder="name of new student...">
                    </div>
                    <div class="col-md-4">
                        <button ng-click="addItem()">Add Student</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                    <ul class="">
                        <li ng-repeat="item in students.data" id="item{{item.id}}">
                            {{item.studentName}}  <a ng-click="deleteItem($index)" class="delete-item">x</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </form>
            <br>
            <!--  <H3>Contributions</H3>-->
            <div ng-repeat="field in ptaMembershipCosts.contribution">
                <input name="{{field.field_cost}}" data-ng-model="ptaMembershipCosts.selectedContribution[$index]"
                       type="{{field.field_type}}"
                       ng-true-value="{{field.field_id}}"
                       ng-false-value=""
                       value="{{field.field_id}}"/>
                {{field.field_title}} {{field.field_cost | currency}}
            </div>
            <div ng-repeat="field in ptaMembershipCosts.textContribution">
                <label> {{field.field_title}}
                    <input name="{{field.field_cost}}" data-ng-model="ptaMembershipCosts.selectedTextContribution[$index]" placeholder="Enter a value"
                           type="{{field.field_type}}"
                           ng-true-value="{{field.field_id}}+'-'"
                           ng-false-value=""
                           style="width: 100px"
                           value=""/>
                </label>
            </div>
            <br>
            <button ng-click="ptaSelectedCosts(ptaAcctObj, ptaSecondaryAcct, ptaMembershipCosts, ptaMembershipForm)" type="button" class="btn btn-primary">Proceed to Checkout</button>

    </div>
</div>
<!-- /.row -->